:root {
  --white: #fff;
  --red-main: #e03131;
  --red-light: #ff6b6b;
  --lime-main: #8ece35;
  --lime-light: #94d82d;
  --green-main: #69db7c;
  --cyan-main: #15aabf;
  --yellow-main: #ffd43b;
  --purple-main: #7455cf;
  --purple-light: #b197fc;
  --orange-main: #ffa94d;
  --gray-main: #343a40;
  --gray-dark: #495057;
  --gray-medium: #868e96;
  --gray-light: #e9ecef;
}

/* HEADER STYLES */
.header {
  width: 100vw;
  height: 85vh;
}

/* NAVBAR STYLES */
.navbar {
  width: 100%;
  height: 12.5%;
  background-color: var(--red-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.gg-menu {
  color: var(--white);
}

.navbar-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 25%;
}

/* Não finalizado */
/* BUG */
#menu-mobile {
  display: none; /* Esconde o menu inicialmente */
  position: fixed; /* Posiciona sobre o conteúdo da página */
  top: 0;
  left: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  background-color: white; /* Fundo branco */
  z-index: 1001; /* Garantir que esteja acima de outros elementos */
  flex-direction: column; /* Itens em coluna para mobile */
}

/* Estilos adicionais para os itens do menu quando ativo */
#menu-mobile.active a {
  display: block;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.menu-nav {
  width: 50%;
  height: 100%;
  font-size: 1.6rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.menu-nav a {
  color: var(--white);
  text-decoration: none;
}

.menu-conta {
  width: 25%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.singup {
  cursor: pointer;
}

.login {
  cursor: pointer;
  color: var(--red-main);
  background-color: var(--white);
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
}

/* HERO STYLES */
.hero {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12.5%;
}

.hero-conteudo {
  width: 50%;
  height: 100%;
  color: var(--gray-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.hero-conteudo h1 {
  font-size: 4.4rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.hero-conteudo p {
  font-size: 2rem;
  font-weight: 200;
}

/* NOTIFICAÇÃO */
.hero-conteudo span {
  color: var(--white);
  font-weight: 200;
  background-color: var(--gray-main);
  font-size: 1.6rem;
  padding: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 82.5%;
}

.hero-buscar {
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.hero-buscar input[type="text"] {
  border: none;
  outline: none;
  border-radius: 1.2rem;
  background-color: var(--gray-light);
  padding: 1.6rem 4.8rem;
}

.hero-buscar input[type="button"] {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  background-color: var(--red-main);
  padding: 1.6rem 2.4rem;
  color: var(--white);
  font-weight: 600;
}

.icone-busca {
  background-color: var(--gray-light);
  padding-right: 2.4rem;
  border-radius: 1.2rem;
  margin-right: -6.4rem;
}

i {
  color: var(--red-main);
  --ggs: 1;
}

.hero-img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  margin-top: 2.4rem;
  width: 70%;
}

/* FEATURED IN STYLES */
.featured {
  width: 100vw;
  height: 15vh;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frase-destaque {
  height: 25%;
  opacity: 0.7;
  color: #737677;
  font-weight: 600;
}

.destaque {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}

.destaque img {
  height: 60%;
  filter: brightness(0.7);
}

/* OUTROS */
.escondido {
  display: none;
  transition: all 0.5s;
}

.notificacao {
  transition: all 0.5s;
}
