/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ICONS */
@import url("https://css.gg/css");

/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --red-main: #e03131;
}

/* HEADER STYLES */
.header {
  width: 100vw;
  height: 85vh;
}

/* NAVBAR STYLES */
.navbar {
  width: 100%;
  height: 15%;
  background-color: var(--red-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 25%;
}

.menu-nav {
  width: 50%;
  height: 100%;
}

.menu-conta {
  width: 25%;
  height: 100%;
}

/* HERO STYLES */
.hero {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-conteudo {
  width: 50%;
  height: 100%;
  background-color: #ffa8a8;
}
.hero-img {
  width: 50%;
  height: 100%;
  background-color: #ff8787;
}

/* FEATURED IN STYLES */
.featured {
  width: 100vw;
  height: 15vh;
  background-color: #ff6b6b;
}
