/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ICONS */
@import url("https://css.gg/css");

/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

:root {
  --white: #fff;
}

/* MAIN STYLES */
.main {
  width: 100vw;
  height: 100vh;
}

/* SECTIONS STYLES */

/* SERVIÇOS STYLES */
.servicos {
  width: 100%;
  height: 40%;
  background-color: #f4fce3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.servico {
  width: 12.5%;
  height: 40%;
  background-color: #e9fac8;
}

/* RESTAURANTES STYLES */
.restaurantes {
  width: 100%;
  height: 30%;
  background-color: #d8f5a2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.estabelecimento {
  width: 7.5%;
  height: 50%;
  background-color: #c0eb75;
}

/* CARDÁPIO STYLES */
.cardapio {
  width: 100%;
  height: 50%;
  background-color: #94d82d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.comida {
  width: 15%;
  height: 75%;
  background-color: #82c91e;
}

/* CARTÃO STYLES */
.cartao {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cartao {
  width: 40%;
  height: 100%;
  background-color: #fff9db;
}

.beneficios-cartao {
  width: 60%;
  height: 100%;
  background-color: #fff3bf;
}

/* ASSINATURA STYLES */
.trabalhe-conosco {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entregador {
  width: 50%;
  height: 100%;
  background-color: #ffec99;
}
.empresa {
  width: 50%;
  height: 100%;
  background-color: #ffe066;
}

/* FORMULÁRIO STYLES */
.formulario {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd43b;
}

.form {
  width: 60%;
  height: 75%;
  background-color: #fcc419;
}
/* FOOTER SYLES */

.footer {
  width: 100%;
  height: 40%;
  background-color: #f3f0ff;
}
