:root {
  --white: #fff;
  --red-main: #e03131;
  --red-light: #ff6b6b;
  --lime-main: #8ece35;
  --lime-light: #94d82d;
  --green-main: #69db7c;
  --cyan-main: #15aabf;
  --yellow-main: #ffd43b;
  --purple-main: #7455cf;
  --purple-light: #b197fc;
  --orange-main: #ffa94d;
  --gray-main: #343a40;
  --gray-dark: #495057;
  --gray-medium: #868e96;
  --gray-light: #e9ecef;
}

/* MAIN STYLES */
.main {
  width: 100vw;
  height: 100vh;
}

/* SECTIONS STYLES */

/* SERVIÇOS STYLES */
.servicos {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.servico {
  width: 15%;
  height: 40%;
  padding: 0 1.6rem;
  background-color: var(--white);
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}

.servico.restaurante {
  background-color: var(--red-main);
}

.servico.mercado {
  background-color: var(--lime-main);
}

.servico.farmacia {
  background-color: var(--cyan-main);
}

.servico.bebidas {
  background-color: var(--yellow-main);
}

.servico.petshops {
  background-color: var(--purple-main);
}

.servico:hover {
  scale: 1.1;
  box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.075),
    0px 10px 15px -3px rgba(0, 0, 0, 0.075);
}

.servico img {
  width: 40%;
}

.servico-descricao {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1.2rem;
}

/* RESTAURANTES STYLES */
.restaurantes {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.estabelecimento {
  width: 10%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.estabelecimento img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.05);
  border-radius: 1.2rem;
}

.estabelecimento-nome {
  width: 100%;
  height: 10%;
  color: var(--gray-main);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARDÁPIO STYLES */
.cardapio {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  margin-bottom: 5%;
}

.comida {
  width: 17.5%;
  /* height: fit-content; */
  box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.05);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.6rem;
  transition: all 0.3s;
}

.comida:hover {
  margin-bottom: 3.2rem;
}

.comida-img {
  width: 100%;
  height: 25vh;
}

.comida-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

.comida-tags {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray-main);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.comida-tags .comida-tag {
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  border-radius: 1.2rem;
}

.comida-tag.amarelo {
  background-color: var(--yellow-main);
}

.comida-tag.laranja {
  background-color: var(--orange-main);
}

.comida-tag.vermelho {
  background-color: var(--red-light);
}

.comida-tag.roxo {
  background-color: var(--purple-light);
}

.comida-tag.verde-limao {
  background-color: var(--lime-light);
}

.comida-nome span {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--gray-main);
}

.comida-descricao p {
  font-size: 1.6rem;
  color: var(--gray-dark);
  text-align: center;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.comida-preco span {
  font-size: 2rem;
  color: var(--lime-main);
}

/* CARTÃO STYLES */
.cartao {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.img-cartao {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: -2.5%;
}

.img-cartao img {
  height: 85%;
}

.beneficios-cartao {
  width: 50%;
  height: 100%;
}

.beneficios-conteudo {
  text-align: left;
  width: 60%;
  height: 100%;
  color: var(--gray-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.6rem;
}

.beneficios-conteudo h2 {
  font-size: 3.6rem;
  font-weight: 500;
}

.beneficios-conteudo p {
  font-size: 1.8rem;
  font-weight: 200;
}

.beneficios-conteudo span {
  color: var(--red-main);
  font-weight: 600;
}

.lojas-mobile {
  width: 55%;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  align-self: center;
}

.lojas-mobile img {
  width: 50%;
  height: auto;
  border-radius: 4.8rem;
  background-color: #000;
  padding: 0.8rem 1.2rem;
}

/* ASSINATURA STYLES */
.trabalhe-conosco {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.tarabalhe-img {
  height: 75%;
  width: 20%;
}

.tarabalhe-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 2.4rem;
}

.entregador,
.empresa {
  width: 25%;
  height: 100%;
}

.trabalhe-conteudo {
  width: 100%;
  height: 100%;
  color: var(--gray-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.trabalhe-conteudo h2 {
  font-size: 3rem;
  font-weight: 500;
}

.trabalhe-conteudo p {
  width: 75%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
}

.trabalhe-conteudo input[type="button"] {
  width: 25%;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  background-color: var(--red-main);
  padding: 1.6rem 2.4rem;
  color: var(--white);
  font-weight: 600;
}

/* FORMULÁRIO STYLES */
.formulario-section {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.form-container {
  width: 60%;
  height: 80%;
  background-color: #d44a4a;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.form-data {
  width: 65%;
  height: 100%;
  color: var(--white);
  padding: 2.4rem 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.form-intro h2 {
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

.form-intro p {
  font-size: 1.8rem;
}

.form-inputs {
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

.form-inputs input,
select {
  height: 100%;
  width: 100%;
  padding: 0.4rem 0.8rem;
  border-radius: 1.2rem;
  border: none;
  outline: none;
}

.form-inputs input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  border: 0.2rem solid #a12f2f;
}

.input-enviar input[type="submit"] {
  background-color: #a12f2f;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
}

.form-inputs label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.form-img {
  height: 100%;
  width: 35%;
}

.form-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.filtro-img {
  height: 100%;
  width: 100%;
  background-color: #d44a4a;
  opacity: 75%;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

/* FOOTER SYLES */
.footer {
  color: var(--gray-medium);
  background-color: var(--gray-light);
  width: 100%;
  height: 37.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.links-footer-container {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.8rem;
}

.links-footer-container li {
  list-style-type: none;
  margin-bottom: 1.6rem;
}

.links-footer-container .link-footer {
  cursor: pointer;
}

.links-footer-titulo {
  font-size: 1.8rem;
  font-weight: 600;
}

.copyrights-container {
  font-size: 1.4rem;
}

/* Outros */
hr {
  margin: 0 auto;
  width: 75%;
  border: 0.1rem solid var(--gray-light);
}
