/* SOME SMARTPHONES */

@media screen and (max-width: 950px) and (orientation: portrait) {
  /* NAVABAR */
  .navbar {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 50%;
  }

  .icone-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icone-menu i {
    color: var(--white);
    --ggs: 1.25;
  }

  .menu-nav,
  .menu-conta {
    display: none;
  }

  .menu-nav.mobile.open {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
  }

  /* HERO */
  .hero {
    height: 75%;
    padding-top: 50%;
    flex-direction: column;
    gap: 6.4rem;
  }

  .hero-conteudo {
    width: 100%;
    height: 50%;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    padding-bottom: 25%;
  }

  .hero-img {
    width: 100%;
    height: 50%;
  }

  .hero-conteudo {
    gap: 0.4rem;
  }

  .hero-conteudo h1 {
    font-size: 3rem;
  }

  .hero-conteudo p {
    font-size: 1.6rem;
    text-align: center;
  }

  .hero-buscar input[type="text"] {
    padding: 1.2rem 2.4rem;
    padding-left: 4rem;
    padding-right: 0.4rem;
  }

  .hero-buscar input[type="button"] {
    padding: 1.2rem 2.4rem;
  }

  .icone-busca {
    padding-right: 3.2rem;
    border-radius: 1.2rem;
    margin-right: -7rem;
  }

  .hero-img {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .hero-img img {
    margin-top: 8rem;
    width: 80%;
  }

  /* FEATURED IN STYLES */
  .featured {
    padding-top: 2.4rem;
    font-size: 1.2rem;
    height: 15vh;
  }

  .frase-destaque {
    height: 20%;
  }

  .destaque {
    gap: 2.4rem;
  }

  .destaque img {
    height: 40%;
  }

  /* SERVIÇOS */
  .servicos {
    margin-top: 10%;
    margin-bottom: 30%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 2.4rem;
  }

  .servico {
    width: 75%;
  }

  /* RESTAURANTES */
  .restaurantes {
    height: 50%;
    flex-direction: column;
    margin-top: 35%;
    margin-bottom: 55%;
  }

  .estabelecimento {
    width: 60%;
  }

  /* CARDÁPIO  */
  .cardapio {
    height: 50%;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 110%;
    margin-bottom: 90%;
  }

  .comida {
    width: 75%;
  }

  /* CARTÃO */
  .cartao {
    margin-top: 140%;
    margin-bottom: 100%;
    flex-direction: column;
    gap: 4.8rem;
  }

  .img-cartao {
    margin-left: 0;
    margin-right: 0;
  }

  .beneficios-cartao {
    width: 100%;
  }

  .lojas-mobile {
    width: 100%;
  }

  /* TRABALHE CONOSCO */
  .trabalhe-conosco {
    margin-top: 120%;
    margin-bottom: 55%;
    height: 65%;
    flex-direction: column;
    gap: 4.8rem;
  }

  .tarabalhe-img {
    width: 85%;
  }

  .entregador,
  .empresa {
    width: 75%;
  }

  .trabalhe-conteudo p {
    font-size: 1.6rem;
  }

  .trabalhe-conteudo input[type="button"] {
    width: 50%;
  }

  /* FORM */
  .formulario-section {
    margin-top: -25%;
    flex-direction: column;
    height: 100%;
  }

  .form-container {
    height: 90%;
    width: 85%;
    flex-direction: column;
    gap: 1.2rem;
  }

  .form-data {
    width: 100%;
  }

  .form-intro h2 {
    text-align: center;
  }

  .form-intro p {
    text-align: center;
    font-size: 1.6rem;
  }

  .form-inputs {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }

  .form-inputs input,
  select {
    padding: 1.2rem 1.2rem;
  }

  .input-enviar input[type="submit"] {
    font-size: 1.4rem;
  }

  .form-img {
    height: 25%;
    width: 100%;
  }

  .form-img img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.2rem;
  }

  .filtro-img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.2rem;
  }

  /* CONTEÚDO OCULTADO */
  .oculto {
    display: none;
  }

  .notificacao {
    display: none !important;
  }

  .rate {
    display: none;
  }

  hr {
    display: none;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
}
