/* SOME SMARTPHONES */

@media screen and (max-width: 950px) and (orientation: portrait) {
  /* INÍCIO RESPONSIVO */
  .logo {
    width: 50%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icone-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icone-menu i {
    color: var(--white);
    --ggs: 1.25;
  }

  .menu-nav,
  .menu-conta {
    display: none;
  }

  .menu-nav.mobile {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
  }

  .hero {
    flex-direction: column;
  }

  .hero-conteudo,
  .hero-img {
    width: 100%;
    height: 50%;
  }

  /* MEIO RESPONSIVO */
  .servicos {
    height: 45%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 0.4rem;
    column-gap: 0.4rem;
  }

  /* SERVIÇO RESPONSIVO */
  .servico.restaurante {
    width: 95%;
    height: 75%;
    grid-column: span 4;
    grid-row: 1;
  }

  .servico {
    width: 75%;
    height: 80%;
    grid-row: 2;
    margin-bottom: 1.2rem;
  }

  /* RESTAURANTES RESPONSIVO */
  .restaurantes {
    height: 25%;
  }

  .estabelecimento {
    width: 25%;
    height: 40%;
  }

  /* CARDÁPIO RESPONSIVO */
  .cardapio {
    height: 80%;
    flex-direction: column;
  }

  .comida {
    width: 55%;
    height: 40%;
  }

  /* CARTÃO RESPONSIVO */
  .cartao {
    height: 75%;
    flex-direction: column;
  }

  .img-cartao,
  .beneficios-cartao {
    width: 100%;
  }

  .img-cartao {
    height: 35%;
  }

  .beneficios-cartao {
    height: 65%;
  }

  /* TRABALHE CONOSCO RESPONSIVO */
  .trabalhe-conosco {
    height: 60%;
    flex-direction: column;
  }

  .entregador,
  .empresa {
    width: 100%;
  }

  /* FORMULÁRIO RESPONSIVO */
  .form {
    width: 80%;
    height: 90%;
  }

  /* CONTEÚDO OCULTADO */
  .oculto {
    display: none;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
}
